{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended", // ou outra configuração que você já esteja usando
    "plugin:prettier/recommended",
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error", // Mostra erros de formatação como erros no ESLint
  },
}
